/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #portfolioContainer {
        visibility: hidden !important;
        position: absolute;
        top: -100%;
    }
    #projectContainer{
        top: 0% !important;
        text-align: center;
    }
    .img{
        width: 100% !important;
        margin-bottom: 10%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #portfolioContainer {
        visibility: hidden !important;
        position: absolute;
        top: -100%;
    }
    #projectContainer{
        top: 0% !important;
        text-align: center;
    }
    .img{
        width: 100% !important;
        margin-bottom: 10%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #portfolioContainer {
        visibility: visible !important;
        position: fixed;
        top: 10%;
        width: 10%;
        text-align: center;
        background-color: silver;
        border-radius: 1rem;
    }
    #projectContainer{
        top: 0% !important;
        margin-left: 15%!important;
        text-align: center;
        
        width: 80%;
    }
    .img{
        width: 100% !important;
        margin-bottom: 10%;
    }
    #portfoliosidetitle{
        position: relative;
        font-size: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #portfolioContainer {
        visibility: visible !important;
        position: fixed;
        top: 10%;
        width: 10%;
        text-align: center;
        background-color: silver;
        border-radius: 1rem;
    }
    #projectContainer{
        top: 0% !important;
        margin-left: 15%!important;
        text-align: center;
        
        width: 80%;
    }
    .img{
        width: 100% !important;
        margin-bottom: 10%;
    }
    #portfoliosidetitle{
        position: relative;
        font-size: 100%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}