
#aboutImageDiv{
    position: absolute;
    top: 10%;
    height: 100%;
}
#indexText {
    position: absolute;
    width: 80%;
    height: 30%;
    left: 13%;
    top: 70%;
    text-align: justify;
    font-size-adjust: inherit;
}
#aboutContainer{
    position: absolute;
    width: 100%;
    height: 100%;
}
